<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coupon main page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/navbar-top-fixed.css}">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Main page</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h2>Scan for new coupons</h2>
                <p>Trigger scan for new coupons</p>
                <p><a class="btn btn-secondary" href="/coupon/triggerSiteScan" role="button">Start scan&raquo;</a></p>
            </div>
        </div>

        <hr>

    </div>

</main>

</body>
</html>