<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coupon main page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/navbar-top-fixed.css}">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Welcome page <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Coupon sources</h1>
            <p>Coupons are taken from next resource(s):</p>
            <ul>
                <li th:each="url:${urls}">
                    <a th:href="${url}" th:text="${url}"></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Actual coupons</h2>
                <p>Show list of all actual coupons by current date.</p>
                <p><a class="btn btn-secondary" href="/couponTable?typeOfList=actual" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>All coupons</h2>
                <p>Show list of all coupons(including outdated) that stored in database.</p>
                <p><a class="btn btn-secondary" href="couponTable?typeOfList=outdated" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Administrate</h2>
                <p>Manage coupon service.</p>
                <p><a class="btn btn-secondary" href="/adminPage" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

</body>
</html>